report.overwrite = true // allows the report to be overwritten
dag.overwrite = true    // allows the dependency graph to be overwritten
executor.queueGlobalStatus = true

profiles {
    
    local {
        process.executor = 'local'
        process.memory = '64GB'
        process.cpus = 10
        }
    
    slurm {

        executor {
            name = 'slurm'
            queueGlobalStatus = true
            }

        process.executor = 'slurm'
        process.memory = '2GB'
        process.cpus = 1
        process.queue = 'general'
        process.time = '30m'

        process {
            withName: 'compute_pairwise_comps' {
                cpus = 32
                memory = '64GB'
                time = '6h'
            }
            withName: 'cluster_and_plot' {
                memory = '64GB'
                time = '2h'
            }
        }
    }
}